.task-title {
  justify-content: space-between;
  margin: 1%;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #f0f0f0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.task-title p {
  margin: 0;
  padding: 3%;
}

.task-details p {
  margin: 0%;
  margin-left: 2%;
}
