.App {
  background-color: #eeeeee;
  padding: 5%;
  height: 100vh;
}

.todo-heading {
  margin: 0;
  text-align: left;
  font-size: 35px;
}

.todo-username {
  margin: 10px 0 15px 3px;
  text-align: left;
  font-size: 20px;
}

h1 {
  margin: 0;
}

.task {
  margin-bottom: 10px;
}

.app-heading {
  display: flex;
  margin: 0 10px;
}

.logout-button {
  margin-top: 10px;
  margin-left: auto;
}

.add-task {
  text-align: center;
}
